@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dayBackground dark:bg-nightBackground text-dayContent dark:text-nightContent;
  }
}

.type::after {
  content: '|';
  animation: cursor 1.1s infinite step-start;
  color: #4e1ac3;
}

.dark .type::after {
  color: #64ffda;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}
